# macOS 관련 파일 무시
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

# 빌드 아티팩트 무시
*.dSYM/
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# 컴파일러 및 링커 파일 무시
*.o
*.a
*.lo
*.la
*.al
*.libs
*.so
*.so.*
*.dylib
*.lib
*.dll
*.d
*.su
*.idb
*.pdb

# 빌드 디렉토리 무시
build/
bin/
obj/
*.swp

# Visual Studio Code 관련 파일 무시
.vscode/
*.code-workspace

# 기타 설정 파일 무시
settings.json